@font-face {
    font-family: "TTCommons-Light.woff";
    src: url("/fonts/TTCommons-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "TTCommons-Medium.woff";
    src: url("/fonts/TTCommons-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "TTCommons-Regular.woff";
    src: url("/fonts/TTCommons-Regular.woff") format("woff");
    t-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "TTCommons-Bold.woff";
    src: url("/fonts/TTCommons-Bold.woff") format("woff");
    t-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Monserrat-Light.woff";
    src: url("/fonts/Monserrat-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Monserrat-Medium.woff";
    src: url("/fonts/Monserrat-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Monserrat-Regular.woff";
    src: url("/fonts/Montserrat-Regular.woff") format("woff");
    t-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Monserrat-Bold.woff";
    src: url("/fonts/Montserrat-Bold.woff") format("woff");
    t-weight: normal;
    font-style: normal;
    font-display: swap;
  }