html,
body {
  height: 100%;
  font-size: 13px;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
.pt-50{
  padding-top: 50px;background-color: #f8f8f8;
}
.my-20{
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: /*"\e113"*/ "\e151";
}

a.desc:after {
  content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
  padding: 15px;
  border: none;
}

@media (max-width: 767px) {
  .nav li > form > button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 15px;
  }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none;
}

.nav > li > form > button.logout:focus {
  outline: none;
}

th {
  vertical-align: top !important;
}

/*.edit-icon-class {*/
/*font-size: 17px;*/
/*}*/

.grid-view table a {
  font-size: 17px;
  display: inline-block;
  padding: 4px;
}
.nouse .grid-view table a {
  font-size: 14px;
  display: inline;
  padding: 0px;
}
.grid-view table tr td:nth-child(1) {
  vertical-align: middle;
}
.nouse .grid-view table tr td:nth-child(1) {
  vertical-align: top;
}
.grid-view table tr td:nth-child(2) {
  min-width: 58px;
  padding: 0;
  vertical-align: middle;
}
.nouse .grid-view table tr td:nth-child(2) {
  min-width: 0;
  padding: 8px;
  vertical-align: top;
}

.search-class {
  margin-bottom: 9px;
}
#deletemultiply-form .btn {
  margin-bottom: 5px;
}
.treeview span.indent {
  display: none;
}

.table-bigcart img {
  max-width: 100px;
}
.order-status-pending {
}
.order-status-done {
  color: #155724;
  background-color: #d4edda !important;
  border-color: #c3e6cb;
}
.order-status-cancel {
  color: #721c24;
  background-color: #f8d7da !important;
  border-color: #f5c6cb;
}
ul {
  padding-left: 2rem;
}
